@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;600&display=swap");
body {
  background-color: black;
}

.reveal {
  position: relative;
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.reveal.active {
  opacity: 1;
}

.one {
  text-align: center;
}

.one h1 {
  text-align: left;
  margin-top: 2em;
  color: #ece9e9;
  font-family: "Prompt", sans-serif;
  letter-spacing: 10px;
  font-weight: bolder;
  font-size: 150px;
}

.one a.sub-t {
  text-decoration: none;
  color: #d4d1d1;
}

.one .title {
  position: relative;
  top: -7.5em;
  left: 8px;
  text-align: left;
  color: #d4d1d1;
  letter-spacing: 0.4px;
  font-family: "Poiret One";
  font-size: 25px;
}

.one .title span {
  font-size: 26px;
  font-family: "Rochester", cursive;
}

.one .a.sub-t :hover {
  color: black;
  background: #5f5d5d;
}

.one .navbar {
  width: 100%;
  max-width: 100%;
  margin-right: 34%;
}

.one a.cont {
  position: relative;
  color: #d4d1d1;
  font-family: "Poiret One";
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.one a.home {
  margin-right: 1%;
  position: fixed;
  z-index: 999;
  right: 0;
  color: #d4d1d1;
  font-family: "Poiret One";
  font-weight: bold;
  font-size: 20px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  mix-blend-mode: difference;
}

.one a.enjae {
  margin-left: 1%;
  position: fixed;
  z-index: 999;
  left: 0;
  color: #d4d1d1;
  font-family: "Poiret One";
  font-weight: bold;
  font-size: 20px;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  mix-blend-mode: difference;
}

.two {
  margin-top: 10em;
}

.two li {
  list-style: none;
}

.two a.home {
  position: fixed;
  z-index: 999;
  color: #cccccc;
  font-family: "Poiret One";
  font-weight: bold;
  height: 100px;
  top: 0.5em;
  right: 1em;
  font-size: 25px;
  text-decoration: none;
  mix-blend-mode: difference;
}

.two a.enjae {
  position: fixed;
  z-index: 999;
  color: #cccccc;
  font-family: Poiret One;
  text-decoration: none;
  margin-bottom: -11em;
  font-weight: bolder;
  height: 100px;
  top: 0.5em;
  left: 1em;
  mix-blend-mode: difference;
  font-size: 25px;
}

.two a.about-me,
.two .git,
.two .illu,
.two .merch {
  width: 50%;
  text-align: start;
  text-decoration: none;
  color: #cccccc;
  font-size: 90px;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
}

.two a:hover {
  color: whitesmoke;
}

.three {
  right: 0;
  margin-top: 15em;
  text-align: center;
}

.three #my-photo {
  padding-right: -9em;
  background-color: #949090;
  margin-top: 0em;
  width: 30%;
}

.three h1 {
  padding-top: 22px;
  text-transform: uppercase;
  font-family: "Sen", sans-serif;
  font-weight: lighter;
  font-size: 75px;
  color: #cccccc;
}

.three .name {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.three h3 {
  position: relative;
  z-index: 12;
  margin-top: 0em;
  line-height: 73px;
  font-family: "Prompt", sans-serif;
  font-size: 80px;
  color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.three h3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.three .info {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #bbb9b9;
  padding: 2em;
  color: #0f0c0c;
  font-size: 25px;
  padding-top: 15em;
  margin-top: -16em;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  font-weight: bold;
}

.four {
  background-color: #bbb9b9;
  margin-top: -5em;
  padding-top: 15em;
}

.four .lang {
  position: relative;
  z-index: 33;
  width: 50%;
  margin-top: -7em;
  position: absolute;
  -webkit-transform: translate(70%, 35%);
          transform: translate(70%, 35%);
}

.four h1 {
  text-align: center;
  color: #08090e;
  font-size: 90px;
  font-family: "Prompt", sans-serif;
  text-align: left;
  margin-top: -1.3em;
}

.four .h1l {
  border: 0.5rem solid #08090e;
}

.four h1:hover {
  color: #666666;
  background-color: #08090e;
}

.four .lang-info {
  color: #bbb9b9;
  font-size: 50px;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  margin-left: 1.2em;
  margin-right: 12em;
  margin-top: 5em;
  -webkit-transform: translate(3%, 36.5%);
          transform: translate(3%, 36.5%);
  line-height: 50px;
  mix-blend-mode: difference;
}

.four .lang-info span {
  color: #bbb9b9;
}

.four .skillbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.four .skillbox p {
  color: #181a29;
  margin: 0 0 10px;
  font-family: "roboto";
  font-size: 25px;
  margin-bottom: 0em;
  font-weight: bold;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.four .skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -30px;
}

.four .skillbox p:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.four .skill {
  padding-top: 3px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #3d3c3c;
}

.four .skill_level {
  background: #0d0f14;
  width: 100%;
  height: 22px;
  -webkit-animation: move 4.25s cubic-bezier(0.17, 0.67, 0, 1);
          animation: move 4.25s cubic-bezier(0.17, 0.67, 0, 1);
}

.four .skill_level:hover {
  background-color: #6f7ead;
}

.four .skill_level::before {
  position: absolute;
  top: -250px;
  left: -350px;
  content: " ";
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.four .skill_level::after {
  position: absolute;
  top: -250px;
  left: -350px;
  content: " ";
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

@-webkit-keyframes move {
  0% {
    width: 0%;
    opacity: 0%;
    background-color: #adadaf;
  }
  50% {
    background-color: #eff0f5;
  }
  100% {
    max-width: 100%;
    opacity: 1s;
  }
}

@keyframes move {
  0% {
    width: 0%;
    opacity: 0%;
    background-color: #adadaf;
  }
  50% {
    background-color: #eff0f5;
  }
  100% {
    max-width: 100%;
    opacity: 1s;
  }
}

.bargraph {
  display: none;
}

.bargraph.active {
  display: block;
}

.five h1 {
  text-align: right;
  color: #bbb9b9;
  font-size: 90px;
  font-family: "Prompt", sans-serif;
  margin-top: 3em;
  margin-bottom: 2em;
  mix-blend-mode: difference;
}

.five h1:hover {
  background-color: #bbb9b9;
  color: #08090e;
}

.five .lang {
  position: relative;
  z-index: 33;
  width: 20%;
  padding: 0em 13em;
  margin-left: 67px;
  margin-top: -12em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.five .skillbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 2px 0;
}

.five .skillbox p {
  color: #adadaf;
  margin: 0 0 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: "roboto";
  font-size: 25px;
  position: relative;
  font-weight: bolder;
  z-index: 99;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.five .skillbox p:nth-child(1) {
  margin-left: -25em;
  -webkit-transform: translate(50%, 120%);
          transform: translate(50%, 120%);
}

.five .skillbox p:nth-child(2) {
  float: left;
  position: relative;
  top: 1.7em;
  right: -12em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.five .skillbox p:hover {
  font-size: 30px;
}

.five .skill {
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 3em;
  margin-top: 2em;
  margin-left: -9em;
}

.five .skill_level {
  background-color: #bbb9b9;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 100%;
  height: 22px;
  padding-bottom: 3em;
  margin-bottom: 3em;
  -webkit-animation: move 6.25s cubic-bezier(0.17, 0.67, 0, 1);
          animation: move 6.25s cubic-bezier(0.17, 0.67, 0, 1);
}

.five .skill_level:hover {
  background-color: #f2aa4c;
}

.five .skill_level::before {
  position: absolute;
  top: -250px;
  left: -350px;
  content: " ";
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.five .skill_level::after {
  position: absolute;
  top: -250px;
  content: " ";
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

@keyframes move {
  0% {
    width: 0%;
    opacity: 0%;
    background-color: #adadaf;
  }
  50% {
    background-color: #e7d27c;
  }
  100% {
    max-width: 100%;
    opacity: 1s;
  }
}

.six {
  overflow-x: scroll;
  margin-top: 5em;
  text-align: left;
  overflow-x: hidden;
}

.six .container3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.six .imgs {
  margin-left: 1.5em;
}

.six h1 {
  color: #d6d3d3;
  font-family: "Prompt", sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 90px;
  text-align: left;
  margin-left: 2%;
}

.six .tag {
  text-align: left;
  color: #d6d3d3;
  font-family: "Prompt", sans-serif;
  font-size: 45px;
  margin-left: 2%;
  margin-bottom: -2em;
}

.six .image-title {
  position: relative;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  font-family: raleway;
  display: table;
  background: white;
  color: black;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.six .image {
  opacity: 80%;
}

.six .image:hover {
  opacity: 1;
}

.six .image:hover h1 {
  opacity: 0.6;
}

.seven {
  text-align: center;
}

.seven a {
  position: relative;
  z-index: 99;
  color: #f5ecec;
  padding-top: 2em;
  font-family: "ROBOTO";
  font-weight: lighter;
  font-size: 50px;
}

.seven .resume {
  margin-top: 70%;
}

.seven .box {
  position: relative;
  z-index: 90;
  top: 15em;
  border: 1em solid #f5ecec;
  mix-blend-mode: difference;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  height: 30em;
}

.eight {
  background-color: #f5ecec;
  text-align: center;
}

.eight h1 {
  padding-top: 2em;
  font-family: "ROBOTO";
  font-weight: lighter;
  font-size: 85px;
}

.eight a {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  line-height: 45px;
}

.eight a.inst {
  -webkit-transform: translateY(-96%);
          transform: translateY(-96%);
}

.eight a.link {
  margin-left: 3em;
  margin-top: -20em;
}

.eight p {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 20px;
}

.eight footer {
  padding: 0.5em;
  background-color: black;
  color: #f5ecec;
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .one a.cont {
    left: 60%;
  }
  .one .cont {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #d4d1d1;
    font-family: "Poiret One";
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
  }
  .one .home,
  .one .enjae {
    border: 2px solid aliceblue;
  }
  .one .h1 {
    font-size: 100px;
  }
  .one .title {
    text-align: center;
  }
  .two .icons {
    margin: 2em;
  }
  .two a.about-me,
  .two .git,
  .two .illu,
  .two .merch {
    text-align: left;
    text-decoration: none;
    color: #cccccc;
    font-size: 50px;
    font-family: "Prompt", sans-serif;
    font-weight: bold;
  }
  .three .container {
    max-width: 768px;
    width: 768px;
    left: 0;
    right: 0;
  }
  .three #my-photo {
    background-color: #949090;
    margin-top: 0em;
    width: 70%;
    right: 0;
    left: 0;
  }
  .three .info {
    background-color: #bbb9b9;
    text-align: center;
    padding: 2em;
    color: black;
    font-size: 25px;
    padding-top: 15em;
    margin-top: -16em;
    font-family: "Roboto", sans-serif;
    line-height: 32px;
    font-weight: bold;
  }
  .three h1 {
    font-size: 50px;
  }
  .three h3 {
    color: black;
    text-align: center;
    line-height: 53px;
    font-size: 55px;
  }
  .four {
    background-color: black;
  }
  .four .container {
    background-color: #bbb9b9;
    max-width: 768;
    width: 768px;
    left: 0;
    right: 0;
    margin-top: -13em;
    padding-top: 7em;
    padding-bottom: 7em;
  }
  .four h1 {
    margin-top: 10%;
    text-align: left;
    font-size: 70px;
    margin-left: 3%;
  }
  .four .lang {
    -webkit-transform: translate(50%, 25%);
            transform: translate(50%, 25%);
  }
  .four .lang-info {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-right: 0em;
    line-height: 40px;
    -webkit-transform: translate(-3%, 95%);
            transform: translate(-3%, 95%);
  }
  .five {
    margin-top: 15em;
    width: 50vw;
  }
  .five .container {
    max-width: 768px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .five .lang {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-left: 0px;
  }
  .five h1 {
    margin-top: 20%;
    text-align: right;
    font-size: 70px;
    margin-bottom: 3em;
    margin-right: 5%;
  }
  .five .skillbox p {
    color: #adadaf;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-family: "roboto";
    font-size: 15px;
    font-weight: bolder;
    z-index: 99;
  }
  .five .skillbox p:nth-child(2) {
    float: left;
    position: relative;
    top: 2em;
    right: -8em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .five .skillbox p:hover {
    font-size: 15px;
  }
  .five .skill_level {
    height: 4px;
  }
  .six {
    overflow-x: visible;
  }
  .six .container {
    width: 167vw;
    margin-left: auto;
    margin-right: auto;
  }
  .six .container3 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .six .imgs {
    margin-left: 2em;
  }
  .six .tag {
    display: none;
  }
  .six h1 {
    font-size: 70px;
    -webkit-transform: translate(-5%, 3%);
            transform: translate(-5%, 3%);
    text-align: center;
  }
  .seven .container {
    width: 768px;
    max-width: 768px;
    left: 0;
    right: 0;
  }
  .seven .resume {
    margin-top: 80%;
  }
  .seven .box {
    position: relative;
    z-index: 90;
    margin-bottom: 20%;
  }
  .eight {
    background-color: black;
  }
  .eight .container {
    background-color: #f5ecec;
    width: 768px;
    max-width: 768;
    left: 0;
    right: 0;
  }
  .eight h1 {
    font-size: 70px;
    margin-top: 1em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  a.cont {
    font-size: 20px;
  }
  .three .container {
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
  }
  .three #my-photo {
    background-color: #949090;
    margin-top: 0em;
    width: 70%;
    right: 0;
    left: 0;
  }
  .three .info {
    background-color: #bbb9b9;
    text-align: center;
    padding: 2em;
    color: black;
    font-size: 30px;
    padding-top: 15em;
    margin-top: -16em;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
    font-weight: bold;
  }
  .three h1 {
    font-size: 50px;
  }
  .three h3 {
    color: black;
    text-align: center;
    line-height: 53px;
    font-size: 55px;
  }
  .four {
    background-color: black;
  }
  .four .container {
    background-color: #bbb9b9;
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
    margin-top: -13em;
    padding-top: 7em;
    padding-bottom: 7em;
  }
  .four h1 {
    margin-top: 10%;
    text-align: left;
    font-size: 70px;
    margin-left: 3%;
  }
  .four .lang {
    -webkit-transform: translate(50%, 25%);
            transform: translate(50%, 25%);
  }
  .four .lang-info {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-right: 0em;
    line-height: 40px;
    -webkit-transform: translate(-3%, 95%);
            transform: translate(-3%, 95%);
  }
  .five .container {
    max-width: 1274px;
    width: 1274px;
    margin-left: auto;
    margin-right: auto;
  }
  .six {
    overflow-x: visible;
  }
  .six .container {
    width: 167vw;
    margin-left: auto;
    margin-right: auto;
  }
  .six .container3 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 13em;
    left: 0;
    right: 0;
  }
  .seven .container {
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
  }
  .eight {
    background-color: black;
  }
  .eight .container {
    background-color: #f5ecec;
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
  }
  .eight h1 {
    font-size: 70px;
    margin-top: 1em;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
  .three .container {
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
  }
  .three #my-photo {
    background-color: #949090;
    margin-top: 0em;
    width: 70%;
    right: 0;
    left: 0;
  }
  .three .info {
    background-color: #bbb9b9;
    text-align: center;
    padding: 2em;
    color: black;
    font-size: 30px;
    padding-top: 15em;
    margin-top: -16em;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
    font-weight: bold;
  }
  .three h1 {
    font-size: 50px;
  }
  .three h3 {
    color: black;
    text-align: center;
    line-height: 53px;
    font-size: 55px;
  }
  .four {
    background-color: black;
  }
  .four .container {
    background-color: #bbb9b9;
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
    margin-top: -13em;
    padding-top: 7em;
    padding-bottom: 7em;
  }
  .four h1 {
    margin-top: 10%;
    text-align: left;
    font-size: 70px;
    margin-left: 3%;
  }
  .four .lang {
    -webkit-transform: translate(50%, 25%);
            transform: translate(50%, 25%);
  }
  .four .lang-info {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-right: 0em;
    line-height: 40px;
    -webkit-transform: translate(-3%, 95%);
            transform: translate(-3%, 95%);
  }
  .five .container {
    max-width: 1274px;
    width: 1274px;
    margin-left: auto;
    margin-right: auto;
  }
  .six {
    overflow-x: visible;
  }
  .six .container {
    width: 167vw;
    margin-left: auto;
    margin-right: auto;
  }
  .six .container3 {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 13em;
    left: 0;
    right: 0;
  }
  .seven .container {
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
  }
  .eight {
    background-color: black;
  }
  .eight .container {
    background-color: #f5ecec;
    max-width: 1274px;
    width: 1274px;
    left: 0;
    right: 0;
  }
  .eight h1 {
    font-size: 70px;
    margin-top: 1em;
  }
}
/*# sourceMappingURL=new.css.map */